@import '../../styles/vars';
@import '../../styles/extends';
@import '../../styles/mixins';

.item_page {
  background-color: $mainBackgroundColor;

  &__container {
    margin: 0 auto;
    max-width: 1180px;
  }
}

.item {
  &__info {
    display: flex;
    flex-direction: row;
    height: 507px;
    background-color: $whiteColor;
    border: 1px solid #DEE2E7;
    border-radius: 6px;
  }

  &__image {
    width: 380px;
    height: 380px;
  }
}
