@import '../../styles/vars';
@import '../../styles/mixins';

.products__container {
  margin: 0 auto;
  height: 100%;
  background-color: $mainBackgroundColor;

  @include onMobile {
    height: 100dvh;
  }
}
