$mainBackgroundColor: #F7FAFC;
$whiteColor: #FFFFFF;
$secondaryBackgroundColor: #DEE2E7;
$lightBlueColor: #8CB7F5;
$mainBlueColor: #0D6EFD;
$mainTextColor: #1C1C1C;
$filterArrowColor: #8B96A5;
$desktopContainer: 1180px;
$tabletContainer: 944px;
$mobileContainer: 360px;
