@import '../../styles/vars';
@import '../../styles/extends';
@import '../../styles/mixins';

.sidebar {
  &__container {
    margin-right: 30px;
    width: 230px;

    @include onTablet {
      margin-right: 22px;
    }

    @include onMobile {
      margin: 0 15px 0;
      width: 330px;
    }
  }
}

.brands {
  &__filter {
    margin-bottom: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 1px solid $secondaryBackgroundColor;
    border-bottom: 1px solid $secondaryBackgroundColor;

    @include onMobile {
      margin-bottom: 40px;
      border-bottom: none;
    }
  }

  &__confirm {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__title {
    margin: 0 0 23px;
    padding-top: 14px;
    @extend %sidebar-title;

    @include onMobile {
      margin: 0;
    }
  }

  &__button {
    margin: 0 auto 40px;
    
    height: 40px;
    width: 76px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: $mainBlueColor;
    background-color: $whiteColor;
    border: 1px solid #DEE2E7;
    box-shadow: 0px 1px 2px rgba(56, 56, 56, 0.08);
    border-radius: 6px;
    cursor: pointer;

    @include onMobile {
      margin: 0;
      padding: 14px 0 0;
      width: 38px;
      height: 20px;
      font-weight: 500;
      border: none;
      box-shadow: none;
      border-radius: 0;
      background: none;
      outline: none;
    }
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__item {
    margin-bottom: 17px;
    display: flex;
    align-items: center;
    gap: 0 13px;

    @include onMobile {
      justify-content: space-between;
    }

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 26px;
      
      @include onMobile {
        padding-bottom: 0;
      }
    }
  }

  &__checkbox {
    width: 20px;
    height: 20px;
    border: 2px solid #BDBDBD;
    border-radius: 5px;
  }

}

.price {
  &__confirm {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__title {
    margin: 0 0 23px;
    @extend %sidebar-title;

    @include onMobile {
      margin: 0;
    }
  }

  &__button {
    margin: 0 auto 40px;
    
    height: 40px;
    width: 76px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: $mainBlueColor;
    background-color: $whiteColor;
    border: 1px solid #DEE2E7;
    box-shadow: 0px 1px 2px rgba(56, 56, 56, 0.08);
    border-radius: 6px;
    cursor: pointer;

    @include onMobile {
      margin: 0;
      padding: 0;
      height: 20px;
      width: 38px;
      font-weight: 500;
      border: none;
      box-shadow: none;
      border-radius: 0;
      background: none;
      outline: none;
    }
  }

  &__reset {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $mainBlueColor;
    @extend %button-reset;

    @include onMobile {
      margin-top: 30px;
      margin-bottom: 18px;
    }
  }
}

.range {
  &__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__wrap {
    margin-bottom: 20px;

    @include onMobile {
      margin-bottom: 16px;
    }
  }
}

.number {
  &__container {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    gap: 0 8px;

    @include onMobile {
      margin-bottom: 10px;
      justify-content: flex-start;
    }
  }

  &__min {
    @include onMobile {
      display: flex;
      flex-direction: column;
    }

    &_box {
      @extend %input-box;

      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &[type=number] {
        -moz-appearance: textfield;
      }
    }
  }

  &__max {
    @include onMobile {
      display: flex;
      flex-direction: column;
    }

    &_box {
      @extend %input-box;

      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &[type=number] {
        -moz-appearance: textfield;
      }
    }
  }
}

.slider :global {
  margin: 0 !important;
  padding: 0 !important;
  color: $mainBlueColor !important;
}

.slider :global .MuiSlider-thumb {
  color: $whiteColor;
  border: 1px solid #AFD0FF;
  box-shadow: 0px 2px 4px rgba(16, 0, 0, 0.1);
}
