@import '../../styles/vars';
@import '../../styles/extends';
@import '../../styles/mixins';

.product {
  &__container {
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0 12px;
    width: 100%;
    height: 230px;
    background-color: $whiteColor;
    border: 1px solid #DEE2E7;
    border-radius: 6px;

    @include onMobile {
      height: 114px;
    }
  }

  &__image {
    margin-top: 9px;
    margin-left: 7px;
    width: 210px;
    height: 210px;

    @include onMobile {
      margin-top: 8px;
      margin-left: 8px;
      width: 98px;
      height: 98px;
    }
  }

  &__info {
    margin-left: 12px;

    @include onMobile {
      margin-left: 8px;
    }
  }

  &__name {
    margin: 23px 0 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: $mainTextColor;

    @include onMobile {
      margin: 12px 0 6px;
      font-weight: 400;
      line-height: 19px;
      max-width: 218px;
      color: $secondaryTextColor;
    }
  }

  &__price {
    margin-bottom: 4px;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.2px;
    color: $mainTextColor;

    @include onMobile {
      margin-bottom: 11px;
      font-size: 16px;
      line-height: 19px;
      color: $mobileMainTextColor;
    }
  }

  &__brand {
    margin-bottom: 7px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: $subsidiaryGreyColor;

    @include onMobile {
      margin-bottom: 12px;
      font-size: 13px;
      line-height: 16px;
      color: $subsidiaryGreyColor;
    }
  }

  &__description {
    margin-bottom: 8px;
    margin-right: 84px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: $secondaryTextColor;

    @include onTablet {
      margin-right: 12px;
    }

    @include onMobile {
      visibility: hidden;
    }

    &_full {
      margin-bottom: 31px;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: $mainBlueColor;
      @extend %button-reset;

      @include onMobile {
        visibility: hidden;
      }
    }
  }
}

.name__link {
  text-decoration: none;
}
