@import '../../styles/vars';
@import '../../styles/extends';
@import '../../styles/mixins';

.breadcrumbs {
  margin: 20px 0px 20px;
  padding: 0;
  display: flex;
  align-items: center;

  @include onMobile {
    margin-left: 20px;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &:not(:last-child) {
      margin-right: 26px;

      @include onMobile {
        margin-right: 16px;
      }

      &::after {
        margin-left: 7px;
        content: '';
        position: absolute;
        top: 30%;
        right: -15px;
        width: 6px;
        height: 10px;
        background: url(../../assets/breadcrumbArrow.svg);

        @include onMobile {
          margin: 0;
          visibility: hidden;
        }
      }
    }
  }

  &__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: $subsidiaryGreyColor;
    text-decoration: none;

    @include onMobile {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: $mainTextColor;
    }
  }

  &__arrow {
    width: 16px;
    height: 16px;
  }
}
