@import './styles/vars';
@import './styles/typography';
@import './styles/reset';
@import './styles/mixins';
@import './styles/extends';

.app {
  height: 100dvh;
  width: 100%;
  background-color: $mainBackgroundColor;
  scroll-behavior: smooth;

  @include onMobile {
    height: 100%;
  }
}
