@import './styles/vars';
@import './styles/typography';
@import './styles/reset';
@import './styles/mixins';
@import './styles/extends';

.app {
  height: 100dvh;
  width: 100%;
  scroll-behavior: smooth;
  background-color: $mainBackgroundColor;

  @include onMobile {
    height: 100%;
  }
}

.page {
  &__container {
    background-color: $mainBackgroundColor;
  }
}
