@import './styles/vars';
@import './styles/normalize';
@import './styles/mixins';
@import './styles/extends';

.app {
  height: 100dvh;
  width: 100%;
  background-color: $mainBackgroundColor;
  scroll-behavior: smooth;
}
